<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

    <div class="reg">
      <%= image_tag("Logo.jpg", :class => "ima") %>
      <h1>Create Account</h1>
      <!-- Usurio -->  
      <%= f.label :name %><br />
      <%= f.text_field :name %>

      <!-- Email -->  
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
       
      <!-- Usurio -->  
      <%= f.label :username %><br />
      <%= f.text_field :username %>

      <!-- Contraseña -->  
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password" %>

        <!-- Contraseña -->  
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>

      <div class="actions">
        <%= f.submit "Sign up" %>
      </div>

      <%= render "devise/shared/links" %>
  </div>
<% end %>
