<%= form_with(model: signature_request_user, local: true) do |form| %>
  <% if signature_request_user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(signature_request_user.errors.count, "error") %> prohibited this signature_request_user from being saved:</h2>

      <ul>
      <% signature_request_user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :request_id %>
    <%= form.text_field :request_id %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :pos_x %>
    <%= form.number_field :pos_x %>
  </div>

  <div class="field">
    <%= form.label :pos_y %>
    <%= form.number_field :pos_y %>
  </div>

  <div class="field">
    <%= form.label :num_page %>
    <%= form.number_field :num_page %>
  </div>

  <div class="field">
    <%= form.label :signed %>
    <%= form.check_box :signed %>
  </div>

  <div class="field">
    <%= form.label :signature_date %>
    <%= form.datetime_select :signature_date %>
  </div>

  <div class="field">
    <%= form.label :created_date %>
    <%= form.datetime_select :created_date %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
